.wrapper {
    display: flex;
}

.info {
    cursor: pointer;
    & img {
        width: 60px;
        height: 60px;
        object-fit: contain;
    }

    & span {
        padding: 0 20px;
        font-size: 1.4rem;
        font-weight: 500;
    }
}
